/*MEDIA QUERY  HOMEPAGE*/

@media screen and (min-width: 1100px) {

	.barra-cima {
		z-index: 4;
		user-select: none;
		box-sizing: border-box;
		padding: 0px 20px;
		position: fixed;
		display: flex;
		width: 100vw;
		height: 40px;
		background-color: #362c2b;
	}

	.categorias {
		z-index: 3;
		position: static;
		overflow: hidden;
		box-sizing: border-box;
		padding: 60px 20px 20px;
		width: 100%;
		background-color: #f4f4f4;
		color: black;
		max-height: 350px;
		transition: all 0.7s;
	}


	.categorias-expandir {
		z-index: 3;
		position: static;
		overflow: auto;
		box-sizing: border-box;
		padding: 60px 20px 20px;
		height: 100vh;
		width: 100%;
		background-color: #f4f4f4;
		color: black;
		transition: all 0.7s;
		max-height: 350px;

	}


	#lista-categorias {

		font-family: karla;
		width: 100%;
		list-style: none;
		margin-bottom: 10px;
	}

	#lista-categorias span {
		color: #959595;
		display: block;
		margin-bottom: 10px;
	}

	#lista-categorias li {
		display: inline-block;
		box-sizing: border-box;
		padding: 0px 20px 14px;
		font-size: 16px;
	}




	.lista-ideias {

		box-sizing: border-box;
		padding: 10px 120px 20px;
		overflow: auto;
	}

	.titulo-lista-ideia {
		display: flex;
		justify-content: center;
		height: 60px;
		font-size: 24px;
		text-align: center;
		border-bottom: 2px solid #FFAC1C;
		margin-bottom: 20px;
	}


	.lista-ideias .titulo-lista-ideia span {
		align-self: center;
	}


	.ideia-content {

		width: 500px;
		display: inline-block;
		margin-left: 20px;
		max-height: 520px;

	}

	.a-ideia-content {
		max-height: 520px;
		width: 500px;
		display: inline-block;
		margin-left: 20px;
	}





	/*Footer*/
	footer {
		height: 200px;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;

		box-sizing: border-box;
		padding: 10px;
		font-family: karla;
		text-align: center;
		width: 100%;
		background-color: #362c2b;

	}

	footer .imagem-footer {
		height: auto;
		width: 100%;

	}

	footer .imagem-footer img {
		max-width: 190px;
	}

	footer span {
		font-size: 13px;
		color: white;
	}

	.barra-vertical {
		z-index: 4;
		display: flex;
		width: 120px;
		height: 100vh;
		position: fixed;
		background-color: #362c2b;

	}

}
