* {
	margin: 0;
	padding: 0;
	outline: none;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);

}


@font-face {
	font-family: quicksand'';
	src: url("../font/Quicksand-Regular.otf");
	font-style: normal;
}

@font-face {
	font-family: 'karla';
	src: url("../font/Karla-Regular.ttf");
	font-style: normal;
}

html {
	height: 100%;

}

body {
	font-family: quicksand;
	height: 100%;
}

/**/

/*Barra de pesquisa*/

.barra-pesquisa {

	display: none;
	z-index: 4;
	width: 100%;
	height: 120px;
	background-color: #ededed;
	position: fixed;
	justify-content: center;
	align-items: center;
	transform: translateY(-60px);
	transition: all 0.7s;

}

.barra-pesquisa-active {
	transform: translateY(60px);
}

.barra-pesquisa span {
	box-sizing: border-box;
	display: block;
	width: 100%;
	padding: 20px;
}

.barra-pesquisa form {
	display: flex;
	justify-content: center;
	height: 100%;
	width: 100%;

}

.barra-pesquisa form input {

	border-radius: 5px;
	padding: 0px 50px;
	box-sizing: border-box;

	width: calc(100% - 40px);
	height: 40%;
	border: none;
	background-image: url(../vectors/lupa-pesquisar-rosa.svg);
	background-repeat: no-repeat;
	background-size: 30px;

	background-position: 10px, 50%;
}


.bg-barra-pesquisa {
	display: none;
	z-index: 2;
	position: fixed;
	width: 100%;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.71);


}

/**/

/*barra horizontal*/

.barra-cima {
	z-index: 4;
	user-select: none;
	box-sizing: border-box;
	padding: 0px 20px;
	position: fixed;
	display: flex;
	width: 100vw;
	height: 60px;
	background-color: #362c2b;
}

.barra-cima .menu-1 {
	font-family: arial;
	z-index: 1;
	box-sizing: border-box;
	cursor: pointer;
	display: flex;
	align-items: center;
	color: white;
	font-size: 25px;

}

.barra-cima .logo-tocaqui {

	box-sizing: border-box;
	display: flex;
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
	justify-content: center;


}

.barra-cima .logo-tocaqui img {
	height: 40px;
	align-self: center;

}

.barra-cima .pesquisar {

	display: flex;
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
}

.barra-cima .pesquisar img {
	cursor: pointer;
	padding-right: 20px;
	position: absolute;
	right: 0;
	align-self: center;
	height: 25px;


}

/**/

/*Barra de voltar*/

.content-voltar {
	display: flex;
	user-select: none;
	font-variant-caps: all-small-caps;
	font-size: 17px;
	font-weight: 600;
	position: relative;
	width: 100%;
	height: 120px;
	box-sizing: border-box;
	padding: 80px 20px 20px;
	border-bottom: 2px solid #dddddd
}

#voltar-icon {
	cursor: pointer;
	padding-right: 10px;
}

#voltar-icon img {
	align-self: center;

	width: 20px;
	height: 20px;
}



.content-voltar::before {
	background-color: #FF286D;
	display: block;
	position: absolute;
	content: "";
	width: 15px;
	height: 2px;
	bottom: -2px;
}

/**/

/*Content-pagina-ideia*/

.content-pagina-ideia {
	box-sizing: border-box;

	padding: 20px 20px 20px;

}

.categoria-pagina-ideia {
	display: flex;
	width: 100%;
	height: 60px;
	margin-bottom: 15px;

}

.categoria-pagina-ideia span {
	align-self: center;
	box-sizing: border-box;
	height: 35px;
	margin: 0px 10px;
	user-select: none;
	color: white;
	padding: 5px 10px;
	border-radius: 2px;
	font-variant-caps: all-small-caps;
	background-color: #FF286D;

}

.categoria-pagina-ideia span:first-child {
	margin: 0px 0px;
	background-color: #FF286D;

}

.titulo-criador-localizacao {

	background-color: #f5f5f5;
	box-sizing: border-box;
	padding: 10px;
	margin-bottom: 40px;

}

.titulo-pagina-ideia {
	font-family: karla;
	font-size: 30px;
	margin-bottom: 20px;

}

.criador-localizacao-pagina {
	display: flex;
	position: relative;
	margin-bottom: 10px;
}

.criador-pagina-ideia {

	font-size: 17px;
	color: #FFAC1C;
	justify-content: center;
}

.criador-pagina-ideia span {
	align-self: center;
}

.localizacao-pagina-ideia {
	position: absolute;
	right: 0;
	font-size: 17px;
	display: inline-flex;
	justify-content: center;

}

.localizacao-pagina-ideia img {
	align-self: center;
	width: 20px;
	padding-right: 5px
}


.participantes-pagina-ideia {
	background-color: #fdfdfd;

	height: 80px;
	padding: 10px 10px 0px;
	box-sizing: border-box;
	border-radius: 5px;
	margin-bottom: 40px;
}

#id-participantes-pagina-ideia {
	display: block;
	font-size: 19px;
	margin-bottom: 10px;
}

.participantes-pagina-ideia span {
	display: block;
}

.participantes-pagina-ideia img {
	width: 60px;
	float: left;
	padding-right: 20px;
}

.chat-pagina-ideia {
	background-color: #fdfdfd;

	cursor: pointer;
	height: 80px;
	padding: 10px 10px 0px;
	box-sizing: border-box;
	border-radius: 5px;
	margin-bottom: 40px;
}

.chat-pagina-ideia img {
	height: 60px;
	width: 60px;
	float: left;
	padding-right: 20px;
}

.cards-pagina-ideia {
	margin-bottom: 40px;

}


.id-subdivisor-pagina-ideia {
	display: inline-flex;
	background-color: #626262;
	height: 40px;
	padding: 10px;
	box-sizing: border-box;
	color: white;
	margin-bottom: 10px;
}


#id-imagem-pagina-ideia {
	width: 100%;
	max-width: 560px;
	max-height: 350px;
	margin-bottom: 30px;
}

#id-descricao-text-pagina-ideia,
.id-qprecisa-pagina-ideia {
	font-family: karla;
	display: block;
	text-align-last: left;
	background-image: url(../) text-align: justify;
}


.id-qprecisa-pagina-ideia {
	font-variant: small-caps;
	font-size: 20px;
	color: #FFAC1C;
}

.botao-participar-pagina-ideia {
	user-select: none;
	cursor: pointer;
	width: 100%;
	border: 2px solid #FF286D;
	height: 60px;
	display: flex;
	justify-content: center;

	animation-name: aumentar-diminuir;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-fill-mode: forwards;
}

@keyframes aumentar-diminuir {

	0% {
		transform: scale(0.98, 0.98)
	}
	50% {
		transform: scale(1, 1)
	}
	100% {
		transform: scale(0.98, 0.98)
	}
}

.botao-participar-pagina-ideia span {
	align-self: center;
	font-variant-caps: all-small-caps;
	display: flex;
	font-size: 20px;
}
