.conteudo_all {
	box-sizing: border-box;
	width: 100%;
	min-height: calc(100vh + 60px);
	padding: 60px 20px 20px 20px;
	background-color: #efefef;
}

.titulo {
	margin-bottom: 40px;
}

.titulo-perfil {
	display: flex;
	justify-content: center;
	height: 60px;
	font-size: 24px;
	text-align: center;
	border-bottom: 2px solid #ffac1c;
	margin-bottom: 20px;
}

.titulo-perfil span {
	align-self: center;
}


.descricoes {
	margin-top: 40px;
}

.foto_nome {
	position: relative;


	margin: auto;
	background-color: #D3D3D3;

}

.foto {
	display: inline-block;
	height: 100%;
	width: 35%;
}

.foto img {
	padding: 14px;
	padding-left: 20px;
	width: 100px;
	border-radius: 70px;
	height: 100px;
}

.nome_trabalho {
	background-origin: border-box;
	padding: 10px 5px;
	padding-top: 35px;
	position: absolute;
	display: inline-block;
	width: 63%;
}

.nome-na-pagina {
	display: block;
	font-size: 20px;
	color: #4f4544;
}

.trabalho {
	font-size: 18px;
	color: #ff276c;
}


#habilidades-meu-perfil {
	padding: 0px 20px;
	font-size: 18px;
	color: #ff276c;
	background: none;


}





.descricao {
	width: 100%;
	margin-bottom: 20px;

}




.sobre {
	width: 100%;
	overflow: hidden;
}


textarea {
	border: none;
	box-sizing: border-box;
	width: 100%;
	z-index: 4;
	font-size: 14px;
	font-family: 'karla';
	border-radius: 5px;
	text-align: justify;
	display: block;
	color: #3F3F3F;
	padding: 20px;
	background-color: #E2E2E2;
	resize: none;
}

.sobre span {}

.conquistas_nome {
	position: relative;
	color: white;
	border-radius: 5px;
	display: block;
	padding: 20px;
	background-color: #ffad1b;
}

.conquistas_nome span {
	margin-left: 40px;
}



.conquistas_nome.active {

	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}


.medalhas {
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;

	overflow: hidden;
	max-height: 0px;
	transition: all 1s;
	background-color: #e5971a;
}



.medalhas img {

	width: 80px;
	height: 80px;
	padding: 10px;
	display: inline-block;
}

.medalhas.active {
	box-shadow: 0px 5px 3px rgba(0, 0, 0, 0.18);

	max-height: 500px;
}

.meus_projetos {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;

	color: white;

	display: block;
	padding: 20px;
	background-color: #46d9cc;
}

.meus_projetos span {
	margin-left: 40px;
}

.meus_projetos.active {
	box-shadow: 0px 5px 3px rgba(0, 0, 0, 0.18);

	border-radius: 5px;
}

.projetos {
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;

	overflow: hidden;
	max-height: 0px;


	transition: all 1s;
	background-color: #3bb2a3;
}

.projetos.active {
	box-shadow: 0px 5px 3px rgba(0, 0, 0, 0.18);

	max-height: 500px;
}

.projetos img {
	height: 100px;
	padding: 10px;
	display: inline-block;
}

.projetos_que_to {
	border-radius: 5px;
	color: white;

	display: block;
	padding: 20px;
	background-color: #ff276c;
}

.projetos_que_to span {
	margin-left: 40px;
}

.projetos_que_to.active {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}

.projetos_to {
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;

	overflow: hidden;
	max-height: 0px;

	transition: all 1s;
	background-color: #af1e59;
}

.projetos_to span {
	padding: 10px;
	display: block;
	color: white;
}

.projetos_to.active {
	box-shadow: 0px 5px 3px rgba(0, 0, 0, 0.18);
	max-height: 500px;
}

.seta {
	display: inline-block;
	float: right;
	height: 10px;
}

.seta img {

	width: 30px;
	height: 10px;
}

#seta.active {
	margin-top: 10px;
	transform: rotate(180deg);
}

#seta2.active {
	margin-top: 10px;
	transform: rotate(180deg);
}


#seta3.active {
	margin-top: 10px;
	transform: rotate(180deg);
}

#seta4.active {
	margin-top: 10px;
	transform: rotate(180deg);
}

.icon {
	position: absolute;
	justify-content: left;
	display: flex;
	width: 30px;
	margin-top: -5px;


}

.icon img {
	align-self: center padding-right: 5px;
	height: 30px;
	width: 30px;
}
